$color: #ffb717;
$main-color: #fd6b0d;
;

* {
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: CoreRhino, sans-serif;
  font-size: 16px;
  line-height: 20px;

}

ul {
  list-style-type: none;

  li {
    list-style-type: none;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

.header {
  background-image: url('../img/header/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 2;

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.55);
  }
}

.header-beginning-block-wrap {
  padding-top: 15px;
  padding-bottom: 66px;
}

.white-colored {
  color: #fff;
}
.hidden-md{
  display: none;
}
.swiper-button-next, .swiper-button-prev{
  outline: none;
}
.founder-image-wrap{
  outline: none;
}
.submit-form label.error{
  color: red;
  font-size: 13px;
}
.submit-form form.has-error{
  position: relative;
  bottom: 20px;
}
.header-navigation {
  ul {
    li {
      max-width: 120px;

      a {
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: underline;
        text-align: center;
        font-family: Gilroy, sans-serif;
        line-height: 15.43px;
        transition: 0.2s linear all;
        &:hover{
          color: #fd6b0d;
        }
      }
    }
  }
}

.default-button {
  padding: 10px 15px;
  background-color: $main-color;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid $main-color;
  font-family: Gilroy, sans-serif;
  transition: 0.3s linear all;
  &:hover{
    border: 1px solid #fd6b0d;
    background-color: #fff;
    color: #fd6b0d;
  }
}

.header-callback-button {
  max-width: 190px;
  margin-left: 50px;
  min-width: 190px;
  font-size: 17px;
  position: relative;
  bottom: -4px;
  right: 5px;
  padding: 6px 15px;
}

.header-logotype {
  margin-right: 50px;
}

.header-navigation {
  width: 100%;
}

.main-title {
  font-size: 61px;
  color: $color;
  line-height: 73.78px;
  font-weight: 900;
  max-width: 750px;
  text-align: center;
  margin: 0 auto -12px;
}

.bg-colored {
  background-color: #812345;
  padding:5px;
}

.main-subtitle {
  max-width: 550px;
  font-size: 33px;
  font-weight: 900;
  line-height: 40.1px;
  color: #fff;
  margin: 0 auto;
  padding-bottom: 48px;
}


.underlined {
  text-decoration: underline;
}

.lightbox-text {
  font-weight: 900;
}

.header__lightbox__trigger {
  max-width: 250px;
  text-align: center;
  position: relative;
  bottom: 116px;
  margin-bottom: -55px;
}

.submit-form {
  label {
    display: block;
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  input {
    border: 1px solid $color;
    background-color: transparent;
    outline: none;
    height: 40px;
    padding: 0 10px;
    font-size: 20px;
    color: #ffffff;
    font-family: Gilroy, sans-serif;
    width: 100%;

    &::placeholder {
      text-align: center;
      color: #fff;
      opacity: 1;
      font-family: Gilroy, sans-serif;
    }
  }
}

.submit-form {
  max-width: 250px;

  form {
    text-align: center;
  }
}

.terms-of-confidence {
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 6px 20px;
  font-weight: 500;
  font-family: Gilroy, sans-serif;
  line-height: 15.45px;
}

.submit-form-button {
  position: relative;
  padding: 11px 8px;
  margin-top: 6px;
  font-size: 24px;
  &:hover::after{
    border-top-color: #fff;
  }
}

.submit-form-button::after {
  content: '';
  position: absolute;
  right: 50%;
  top: 100%;
  border: 40px solid transparent;
  border-top: 24px solid #fd6b0d;
  transform: translateX(50%);
  transition: 0.3s linear all;
}

.garanties-items {
  ul {
    li {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.98px;
      color: #ffffff;
      margin-bottom: 22px;
      max-width: 252px;
      position: relative;
      padding-left: 38px;

      &:before {
        content: '';
        left: 0;
        width: 16px;
        height: 17px;
        border: 1px solid #ffffff;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        position: absolute;
      }
    }
  }
}

.header-ending-row {
  max-width: 960px;
  margin: 0 auto;
}

h2.inner-title {
  font-size: 37px;
  color: #812345;
  font-weight: 900;
  line-height: 44.34px;
  margin: 0 auto;
  text-align: center;
}

h2.inner-title.bezier-line-under {
  padding-bottom: 22px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../img/common/bezier-line.png);
    display: block;
    width: 192px;
    height: 21px;
  }
}

.advantages {
  h2.inner-title {
    max-width: 500px;
    margin-bottom: 80px;
    padding-top: 33px;
  }
}

.light-gray-bg {
  background-color: #f7f7f7;
}

.advantages-card-wrap {
  max-width: 230px;
  margin: 0 auto 35px;
}

.advantages-card-img {
  text-align: center;
}

.advantages-card-title {
  font-size: 24px;
  font-weight: 900;
  line-height: 23.59px;
  color: $main-color;
  margin-bottom: 12px;
}

.advantages-card-text {
  font-size: 15px;
  font-weight: 500;
  line-height: 19.39px;
}

.advantages-card-img {
  margin-bottom: 10px;
}

.advantages-main-content {
  padding-bottom: 35px;
}

.bg-lined {
  background-image: url('../img/common/line-bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.conditionals {
  h2.inner-title {
    margin-bottom: 60px;
    padding-top: 50px;
    padding-bottom: 34px;
  }

}

.colored {
  color: $main-color
}

.conditionals-table-col {
  width: 50%;
  padding-right: 60px;
  line-height: 19.37px;
  margin-bottom: 18px;
  font-weight: 500;
}

.conditionals-table-head-col {
  color: #fd6b0d;
  font-size: 20px;
  font-weight: 900;
  line-height: 23.67px;
  margin-bottom: 20px;
}


.conditionals-table-row {
  display: flex;
}

.conditionals-image-content {
  max-width: 390px;
  margin: 0 auto;

  .conditionals-table-head-col {
    text-align: center;
    margin-bottom: 0;
  }
}

.bakery-image-additional-text {
  font-size: 17px;
  font-weight: 500;
  font-style: italic;
  line-height: 16.57px;
  position: absolute;
  left: 75%;
  width: 135px;
}

.bakery-image-wrap {
  justify-content: center;
  position: relative;
}

.bakery-arrows-wrap {
  text-align: center;
}

.bakery-marketplace-card-title {
  font-size: 17px;
  line-height: 16.57px;
  width: 100px;
  text-align: center;
  margin-bottom: 7px;
  font-weight: 500;
  font-style: italic;
}

.bakery-marketplace-card-img {
  text-align: center;
}

.bakery-marketplace-card-wrap {
  margin-right: 32px;
  margin-left: 6px;
}

.bakery-marketplace-wrap {
  margin-top: 10px;
}

.conditionals-content-row {
  padding-bottom: 45px;
}

.conditionals-content {
  padding-bottom: 30px;

  .default-button {
    margin: 0 auto;
  }
}

.text-center {
  text-align: center;
}

.subtitle {
  color: #282a44;
  line-height: 30.54px;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.investments-guarantee {
  h2 {
    padding-bottom: 20px;
    padding-top: 60px;
  }
}

.investment-main-content {
  margin-top: 77px;
}

.invest-card-wrap {
  margin-bottom: 50px;
}

.invest-image-name {
  font-size: 23px;
  color: #812345;
  font-weight: 900;
  line-height: 44.34px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 128px;
  top: 158px;
}

.invest-image-text {
  color: #282a44;
  line-height: 30.54px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  position: absolute;
  top: 195px;
  left: 166px;
}

.investment-image-wrap {
  bottom: 50px;
  margin-bottom: -50px;
}

.position-relative {
  position: relative;
}

.invest-card-img {
  text-align: center;
}

.bakery-slider .swiper-slide.swiper-slide-active {
  transform: scale(1.35) !important;
}

.bakery-slider .swiper-slide.swiper-slide-prev {
  transform: scale(0.85) !important;
  right: 35px;
}

.bakery-slider .swiper-slide.swiper-slide-next {
  transform: scale(0.85) !important;
  left: 35px;
}

.bakery-slider .swiper-slide {
  position: relative;

  img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    transition: 0.3s linear all;
    transform: scale(1);
    object-fit: contain;
  }
}

.bakery-slider {
  .inner-title {
    padding-top: 80px;
    padding-bottom: 19px;
  }

  .subtitle {
    margin-bottom: 43px;
  }

  .default-button {
    padding: 12px 9px;
  }

}

.bakery-main-slider .swiper-container {
  height: 306px;
}

.bakery-main-slider {
  padding-bottom: 45px;
}

.swiper-button-next {
  right: 288px;
  transition: 0.3s linear all;
  &:hover{
    transform: scale(1.1)
  }
}

.swiper-button-prev {
  left: 289px;
  transition: 0.3s linear all;
  &:hover{
    transform: scale(1.1)
  }
}

.bakery-main-slider .swiper-button-next:after, .bakery-main-slider .swiper-container-rtl .swiper-button-prev:after {
  display: none;
}

.bakery-main-slider .swiper-button-prev:after, .bakery-main-slider .swiper-container-rtl .swiper-button-next:after {
  display: none;
}

.bakery-slider-main-content {
  padding-bottom: 71px;
}

.invest-reasons {
  h2.inner-title {
    padding-top: 48px;
    margin-bottom: 102px;
  }
}

.yellow-bg {
  background-color: #ffb700;
}

.invest-reasons-main-content {
  .row {

  }
}
.bakery-slider .swiper-slide{
  outline: none;
}

.invest-reasons-card-title {
  font-size: 25px;
  font-weight: 900;
  line-height: 30.6px;
  margin-bottom: 14px;
}

.invest-reasons-card-body {
  padding: 27px 24px;
}

.invest-reasons-card-img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.purple-bg {
  background-color: #812345;

  .invest-reasons-card-text {
    color: #fff;
  }
}

.yellow-bg {
  .invest-reasons-card-title {
    color: #812345;
  }
}

.purple-bg {
  .invest-reasons-card-title {
    color: #ffb620;
  }
}

.invest-reasons-card {
  height: 180px;
}

.invest-reasons-main-content {
  padding-bottom: 90px;
}

.gray-bg {
  background-color: #e8e8e8;
}

.about-business-content-wrap {
  text-align: center;
}

.about-business {
  h2.inner-title {
    padding-top: 40px;
    margin-bottom: 67px;
  }

  .invest-reasons-card-title {
    color: #812345;
  }
}

.about-business-text {
  font-size: 21px;
  color: #272742;
  font-weight: bold;
  margin-bottom: 35px;
}

.about-business-content-wrap {
  position: relative;

  img {
    display: block;
  }
}

.map-text {
  position: absolute;
  left: 110px;
  top: 163px;
  line-height: 27.34px;
  font-size: 26px;
  color: #272742;
  font-weight: bold;
}

.founder-image-wrap {
  text-align: center;
  img{
    transition: 0.3s linear all;
    &:hover{
      transform: scale(1.1);
    }
  }
}

.founder-presentation-image-wrap {
  position: relative;
  margin: 0 auto;
  max-width: 247px;
  overflow: hidden;
  &:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  &:hover{
    img{
      transform: scale(1.1);
    }
    .founder-image-lock{
      transform: translate(-50%, -50%) scale(1);
    }
  }
  img {
    display: block;
    margin: 0 auto;
    position: relative;
    transition: 0.3s linear all;

  }

  .founder-image-lock {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
  }
}

.founder {
  h2.inner-title {
    padding-top: 77px;
    margin-bottom: 86px;
  }
}

.founder-main-content {
  padding-bottom: 40px;
}

.founder-presentation-button {
  padding: 10px 3px;
  font-size: 22px;
}

.founder-presentation-card {
  max-width: 290px;
  margin: 0 auto 30px;
  display: block;
}

.team-card-title {
  font-size: 17px;
  font-weight: 900;
  color: #812345;
}

.team-card-text {
  font-size: 14px;

}

.team-card-wrap {
  text-align: center;
}

.team {
  h2 {
    padding-top: 70px;
    margin-bottom: 98px;
  }

}

.team-card-image-wrap {
  margin-bottom: 20px;
  height: 220px;
}

.team-main-content {
  padding-bottom: 100px;
}

.contacts {
  h2.inner-title {
    padding-top: 72px;
    max-width: 790px;
    padding-bottom: 39px;
    margin-bottom: 77px;
  }

  .submit-form input {
    color: #272742;
    font-weight: 500;
    font-size: 23px;
  }

  .submit-form input::placeholder {
    color: #272742;
    font-size: 23px;
  }

  .terms-of-confidence {
    color: #272742;
    font-size: 16px;
    padding: 6px 0;
    font-weight: 500;
    line-height: 20.26px;
  }

  .submit-form {
    max-width: 270px;
  }

  .submit-form label {
    max-width: 240px;
    margin: 0 auto 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .submit-form-button {
    width: 240px;
    font-size: 22px;
    padding: 12px 8px;
  }

  .submit-form-button::after {
    display: none;
  }
}



.call-back-block {
  padding-top: 35px;
  text-align: center;
  padding-bottom: 40px;
}

.call-back-title {
  font-size: 56px;
  color: #272742;
  font-weight: 900;
  line-height: 67.19px;
  padding-bottom: 35px;
}

.call-back-number {
  color: #fd6b0d;
  line-height: 37.04px;
  font-size: 80px;
  font-weight: 900;
}

.footer {
  background-color: #272742;
  padding: 24px 0 60px;
}

.footer-links-wrap {
  max-width: 300px;
  padding-top: 18px;
  margin-right: 40px;
  ul {
    li {
      a {
        font-size: 18px;
        color: #ffffff;
        display: flex;
        align-items: flex-start;
        margin-bottom: 4px;
        font-weight: 900;
        line-height: 24.67px;
        img{
          margin-right: 10px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}
input[type="tel"]:hover::placeholder{
  text-align: left;
}
.fail-modal, .thank-you-modal{
  h2{
    margin-bottom: 10px;
  }
}

.footer-politics{
  font-size: 19px;
  font-weight: 900;
  line-height: 8.89px;
  text-decoration: underline;
  color: #ffffff;
  text-align: center;
  display: block;
  cursor: pointer;
}
#confidential-data{
  display: none;
  max-width: 80%;
}
.thank-you-modal{
  display: none;
}
.fail-modal{
  display: none;
}
