@media (min-width: 1200px){
  .invest-reasons-main-content {
    .row {
      .col-lg-4 {
        flex: 0 0 29.333333%;
        max-width: 29.333333%;
      }
    }
  }
}
@media (max-width: 1200px) {
  .swiper-button-next{
    right: 238px;
  }
  .swiper-button-prev{
    left: 236px;
  }
  .founder-presentations{
    margin-left: 80px;
  }
}
@media (max-width: 991px) {
  .header-navigation{
    position: fixed;
    left: 0;
    width: 300px;
    background-color: #fff;
    transform: translateX(-100%);
    transition: 0.3s linear all;
    height: 100%;
    z-index: 2;
    top: 0;
    &.active{
      transform: translateX(0);
    }
  }
  .main-title{
    line-height: 50px;
    font-size: 50px;
    margin-bottom: 20px;
  }
  .header-beginning-block-wrap{
    padding-bottom: 40px;
  }
  .header__lightbox__trigger{
    bottom: 25px;
    margin-bottom: 0px;
    margin-right: 50px;
  }
  .garanties-items{
    display: none;
  }
  .submit-form label{
    margin-bottom: 20px;
  }
  .terms-of-confidence{
    margin: 10px 0px;
  }
  .submit-form{
    padding-top: 30px;
  }
  .header-ending-row{
    justify-content: center !important;
  }
  .advantages-card-wrap{
    text-align: center;
  }
  .conditionals-table{
    text-align: center;
  }
  .conditionals-image-content{
    margin-top: 50px;
    position: relative;
    right: 20px;
  }
  .invest-card-img{
    margin-bottom: 10px;
  }
  .invest-card-wrap{
    text-align: center;
  }
  .invest-image-text-wrap{
    max-width: 100%;
  }
  .investment-image-wrap{
    margin-top: 50px;
  }
  .swiper-button-next {
    right: 10px;
  }
  .swiper-button-prev{
    left: 10px;
  }
  .bakery-main-slider .swiper-container {
    height: 250px;
  }
  .bakery-slider .swiper-slide.swiper-slide-active{
    transform: scale(1) !important;
  }
  .about-business-content-wrap img{
    margin: 0 auto;
  }
  .map-text{
    left: 180px;
  }
  .founder-presentations{
    margin-top: 50px;
    margin-left: 0;
  }
  .founder-presentations{
    display: flex;
  }
  .founder-presentation-image-wrap{
    height: 133px;
  }
  .founder-presentation-button{
    width: 280px;
  }
  .founder-image-wrap{
    margin: 0 auto;
    display: block;
  }
  .team-card-wrap{
    margin-bottom: 30px;
  }
  .call-back-title{
    font-size: 36px;
    line-height: 37.19px;
  }
  .call-back-number{
    font-size: 60px;
  }
  .footer-logotype-wrap{
    max-width: 400px;
    img{
      max-width: 100%;
    }
  }
  .advantages h2.inner-title{
    margin-bottom: 50px;
  }
  .header-navigation ul li a{
    color: #fd6b0d;
  }
  .header-navigation{
    ul{
      flex-direction: column;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      overflow: auto;
      justify-content: flex-start !important;
      align-items: flex-start !important;
      padding-top: 20px;
      padding-left: 20px;
      li{
        max-width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;
        &::after{
          content: '';
          position: absolute;
          top: 77%;
          background-image: url(../img/common/bezier-line.png);
          height: 15px;
          width: 80px;
          left: 0;
          background-size: cover;
        }
        a{
          font-size: 16px;
        }
      }
      br{
        display: none;
      }
    }
  }
  .burger{
    span{

    }
  }
  .hidden-md{
    display: block;
  }
  .header-sm-hidden-button{
    display: none;
  }
  .main-subtitle{
    font-size: 28px;
    text-align: center;
  }
  .burger-wrapper .burger span:first-child {
    width: 17px;
    height: 2px;
    background-color: #fff;
    float: left;
    margin-bottom: 7px;
    display: block;
  }
  .burger-wrapper .burger span:nth-child(2) {
    width: 26px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 7px;
    display: block;
  }
  .burger-wrapper .burger span:nth-child(3) {
    float: right;
    width: 17px;
    height: 2px;
    margin-bottom: 7px;
    display: block;
    background-color: #fff;
    text-align: right;
    margin-left: auto;
  }
  .burger-wrapper .burger {
    display: flex;
    flex-direction: column;
  }
  .burger-wrapper .burger {
    cursor: pointer;
  }
  .burger-wrapper {
    span{
      transition: 0.3s linear all;
    }
  }
  .burger-wrapper.open .burger span:first-child{
    width: 26px;
    transform: rotate(45deg) translate(10px, 10px);
  }
  .burger-wrapper.open .burger span:nth-child(3) {
    width: 26px;
    transform: rotate(-45deg) translate(3px, -3px);
  }
  .burger-wrapper.open .burger span:nth-child(2) {
    opacity: 0;
  }
  .header-navigation ul li .header-callback-button{
    color: #fff;
    margin-left: 0;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 1;

    &::after{
      display: none;
    }
  }
  .header-navigation ul li{
    &:last-child::after{
      display: none;
    }
  }
}
@media (max-width: 767px){

  .main-title {
    line-height: 45px;
    font-size: 40px;
    margin-bottom: 10px;
  }
  .header__lightbox__trigger{
    display: none;
  }
  .header-ending-row{
    padding-bottom: 60px;
  }
  .main-subtitle{
    padding-bottom: 0;
  }
  h2.inner-title{
    line-height: 34.34px;
    font-size: 30px;
  }
  .advantages-card-title{
    line-height: 16.59px;
    font-size: 16px;
  }
  .advantages-card-text{
    font-size: 12px;
    line-height: 15.39px;
  }
  .conditionals-table-col {
    padding-right: 15px;
  }
  .conditionals-image-content{
    right: 0;
  }
  .bakery-image-additional-text{
    display: none;
  }
  .bakery-marketplace-wrap{
    justify-content: space-between;
  }
  .bakery-marketplace-card-title{
    font-size: 15px;
  }
  .bakery-marketplace-card-wrap{
    margin: 0;
  }
  .investment-main-content{
    & > .row{
      margin: 0;
      & > .row{
        margin: 0;
      }
    }
  }
  .investment-image-wrap {
    img{
      max-width: 100%;
    }
    .invest-image-name{
      font-size: 18px;
      left: 8px;
      top: 40px;
    }
    .invest-image-text{
      top: 70px;
      left: 9px;
    }
  }
  .bakery-slider .inner-title {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .bakery-slider .subtitle {
    margin-bottom: 20px;

  }
  .subtitle{
    font-size: 24px;
  }
  .bakery-slider-main-content {
    padding-bottom: 50px;
  }
  .invest-reasons h2.inner-title{
    margin-bottom: 60px;
  }
  .invest-reasons-card-text{
    br{
      display: none;
    }
  }
  .about-business-content-wrap img{
    max-width: 100%;
  }
  .about-business-content-wrap{
    padding: 0;
  }
  .map-text {
    left: 70px;
    top: 110px;
  }
  .founder-image-wrap img{
    max-width: 100%;
  }
  .founder-presentations{
    flex-direction: column;
  }
  .team-card-image-wrap {
    margin-bottom: 0px;
    height: 200px;
  }
  .team-card-image-wrap{
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .team-card-title{
    margin-bottom: 5px;
  }
  .team-main-content {
    padding-bottom: 20px;
  }
  .contacts h2.inner-title{
    padding-top: 40px;
    margin-bottom: 30px;
  }
  .submit-form input{
    font-size: 16px;
  }
  .contacts .header-ending-row{
    padding-bottom: 20px;
  }
  .call-back-title{
    font-size: 28px;
    padding-bottom: 15px;
  }
  .call-back-number {
    font-size: 38px;
  }
  .footer-links-container{
    flex-direction: column;
  }
  .footer-links-wrap{
    margin-bottom: 30px;
  }
  .footer-logotype-wrap{
    margin-bottom: 30px;
  }
}
